.sidebarContainer {
    margin-top: 70px;
    width: 180px;
    transition: width 0.3s;
    background-color: #04122d;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.menuContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menuItem {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fbfafa;
    height: 40px;
}
