html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1e283e;
    font-family: 'Inter', sans-serif;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-container {
    flex: 1;
    margin-top: 70px;
    overflow-y: 'auto';
    background-color: #1e283e;
}

main {
    flex: 1;
}
